| BASIC RULES |

I know that all of us can get mad but these are the rules u have to follow because you have to respect other members of our comunity! We hope you understand us :smiley: Take a look at this short list of rules ! :smiley: Enjoy on our server!!!

1.Swearing is not allowed!We have to keep our server clean!Swearing will cause a mute for a short period of time.If u keep swearing after your unmute the result will be a ban!
2.Try not to interrupt other members!Everyone has bad times and does not feel like talking or geting interrupted.Breaking this rule will cause a mute for a short period of time!
3.Do not ask anyone for ranks!If we see that u deserve any rank you will be promoted!We hope you understand  that ranks are not free,u need to deserve them,so dont interrupt any adming or higher asking for ranks!The punishment is a kick from the server!
4.No spamming the chat!It can be anoying to other members!Channel hopping is also counted as spam!Breaking this rule will cause you to get muted!(edited)
5.Being racist in every way(people's skin color,their gender,their age and other)will cause a PERMANENT ban!The punishment is so serious because racism is the worst thing in this world!Hope you understand!!!!!

| OP/Admin Rules |

1) Do not move people just for the sake of messing with them.
2) Do not abuse of your permission.
3) No editing other player's/channel's note, username.

This was our list of rules keep following them and everything will be good :smiley: Now you can continue on to the server and enjoy meeting friends,playing games and of course have funNNN!!!!!!!!!! :smile: :heart: Yours truly GamingDiscort | by:Markoni
